.wrap {
  perspective-origin: 50% 50%;
}

.page {
  margin: 3%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;
}
.page h2 {
  font-weight: bold;
  font-size: 6.5vw;
  font-weight: 900;
  font-style: italic;
  color: #dad8ec;
}

.svg {
  stroke: #7ceaa4;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}

.svg:nth-child(1) {
  left: 37%;
  -webkit-animation: raise1 18s linear infinite;
  animation: raise1 18s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: scale(-0.3) rotate(312deg);
  z-index: -6;
  filter: blur(-5px);
}
@-webkit-keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(81deg);
  }
}
@keyframes raise1 {
  to {
    bottom: 150vh;
    transform: scale(-0.3) rotate(81deg);
  }
}

.svg:nth-child(2) {
  left: 96%;
  -webkit-animation: raise2 17s linear infinite;
  animation: raise2 17s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  transform: scale(0) rotate(80deg);
  z-index: -5;
  filter: blur(-4px);
}
@-webkit-keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(167deg);
  }
}
@keyframes raise2 {
  to {
    bottom: 150vh;
    transform: scale(0) rotate(167deg);
  }
}

.svg:nth-child(3) {
  left: 77%;
  -webkit-animation: raise3 20s linear infinite;
  animation: raise3 20s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  transform: scale(0.3) rotate(15deg);
  z-index: -4;
  filter: blur(-3px);
}
@-webkit-keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(67deg);
  }
}
@keyframes raise3 {
  to {
    bottom: 150vh;
    transform: scale(0.3) rotate(67deg);
  }
}

.svg:nth-child(4) {
  left: 57%;
  -webkit-animation: raise4 16s linear infinite;
  animation: raise4 16s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  transform: scale(0.6) rotate(130deg);
  z-index: -3;
  filter: blur(-2px);
}
@-webkit-keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(219deg);
  }
}
@keyframes raise4 {
  to {
    bottom: 150vh;
    transform: scale(0.6) rotate(219deg);
  }
}

.svg:nth-child(5) {
  left: 26%;
  -webkit-animation: raise5 20s linear infinite;
  animation: raise5 20s linear infinite;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  transform: scale(0.9) rotate(46deg);
  z-index: -2;
  filter: blur(-1px);
}
@-webkit-keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(312deg);
  }
}
@keyframes raise5 {
  to {
    bottom: 150vh;
    transform: scale(0.9) rotate(312deg);
  }
}

.svg:nth-child(6) {
  left: 31%;
  -webkit-animation: raise6 13s linear infinite;
  animation: raise6 13s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  transform: scale(1.2) rotate(209deg);
  z-index: -1;
  filter: blur(0px);
}
@-webkit-keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(271deg);
  }
}
@keyframes raise6 {
  to {
    bottom: 150vh;
    transform: scale(1.2) rotate(271deg);
  }
}

.svg:nth-child(7) {
  left: 32%;
  -webkit-animation: raise7 21s linear infinite;
  animation: raise7 21s linear infinite;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  transform: scale(1.5) rotate(349deg);
  z-index: 0;
  filter: blur(1px);
}
@-webkit-keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(251deg);
  }
}
@keyframes raise7 {
  to {
    bottom: 150vh;
    transform: scale(1.5) rotate(251deg);
  }
}

.svg:nth-child(8) {
  left: 97%;
  -webkit-animation: raise8 12s linear infinite;
  animation: raise8 12s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  transform: scale(1.8) rotate(212deg);
  z-index: 1;
  filter: blur(2px);
}
@-webkit-keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(276deg);
  }
}
@keyframes raise8 {
  to {
    bottom: 150vh;
    transform: scale(1.8) rotate(276deg);
  }
}

.svg:nth-child(9) {
  left: 23%;
  -webkit-animation: raise9 17s linear infinite;
  animation: raise9 17s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  transform: scale(2.1) rotate(24deg);
  z-index: 2;
  filter: blur(3px);
}
@-webkit-keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(155deg);
  }
}
@keyframes raise9 {
  to {
    bottom: 150vh;
    transform: scale(2.1) rotate(155deg);
  }
}

.svg:nth-child(10) {
  left: 62%;
  -webkit-animation: raise10 8s linear infinite;
  animation: raise10 8s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  transform: scale(2.4) rotate(5deg);
  z-index: 3;
  filter: blur(4px);
}
@-webkit-keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(258deg);
  }
}
@keyframes raise10 {
  to {
    bottom: 150vh;
    transform: scale(2.4) rotate(258deg);
  }
}
