.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 !important;
}

.team-role {
  font-family: 'Dosis', 'Open Sans', sans-serif !important;
  font-weight: 600;
  color: #37404d;
  letter-spacing: 1px;
  line-height: 1.6;
}

.p {
  font-size: 30px;
}

.primary-color {
  color: #ffcc53;
}

.humv-video {
  background: #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}

/* Partner Section CSS */

.partner {
  margin: auto;
  clear: both;
  margin-top: 40px;
  vertical-align: baseline;
}
.partner-small {
  width: 20%;
  height: 20%;
}

.partner-medium {
  width: 25%;
  height: 25%;
}

.partner-container {
  display: flex;
  justify-content: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.default-center {
  justify-content: center;
  text-align: left;
  align-items: center;
}

.text-center {
  text-align: center;
}

.popup-table-header {
  padding: 0.5em 1em;
  text-align: center;
}

.half-rem-padding {
  padding: 0.5rem;
}

.img-border {
  border: 0.25rem solid #ffcc53;
}

.larger-icon {
  font-size: 2.5rem;
}

.social-tag {
  padding: 1.5em;
  color: white;
}

.social-facebook:hover {
  color: #1877f2;
}

.social-instagram:hover {
  color: #e4405f;
}

.social-twitter:hover {
  color: #1da1f2;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  box-sizing: border-box;
  opacity: 0.6;
}

.section {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
}

video.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: unset;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: 300%;
    left: -100%;
  }
}

.btn.btn-sm {
  padding: 4px 15px;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23627DE5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23627DE5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#home-button:hover {
  background-color: #ffcc53;
  border-color: #ffcc53;
  color: #ffffff !important;
}