.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  margin: 0 !important;
}

/* Members Tabs */

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border-bottom: 4px solid !important;
}

.nav-item:hover {
  color: #af6ff8;
}

#tabs .nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 1.25em;
}

.nav > a {
  display: inline-block;
}

.team-role {
  font-family: 'Dosis', 'Open Sans', sans-serif !important;
  font-weight: 600;
  color: #37404d;
  letter-spacing: 1px;
  line-height: 1.6;
}

.p {
  font-size: 30px;
}

.primary-color {
  color: #af6ff8;
}

.humv-video {
  background: #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  margin: 0 auto;
  overflow: hidden;
}

/* Partner Section CSS */

.partner {
  margin: auto;
  clear: both;
  margin-top: 40px;
  vertical-align: baseline;
}
.partner-small {
  width: 20%;
  height: 20%;
}

.partner-medium {
  width: 25%;
  height: 25%;
}

.partner-container {
  display: flex;
  justify-content: center;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.default-center {
  justify-content: center;
  text-align: left;
  align-items: center;
}

.text-center {
  text-align: center;
}

.popup-table-header {
  padding: 0.5em 1em;
  text-align: center;
}

.half-rem-padding {
  padding: 0.5rem;
}

.img-border {
  border: 0.25rem solid #af6ff8;
}

.object-fit-cover {
  max-width: 80%;
  max-height: 80%;
  object-fit: cover;
}

.larger-icon {
  font-size: 2.5rem;
}

.social-tag {
  padding: 1.5em;
  color: white;
}

.social-facebook:hover {
  color: #1877f2;
}

.social-instagram:hover {
  color: #e4405f;
}

.social-twitter:hover {
  color: #1da1f2;
}

.bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  box-sizing: border-box;
  opacity: 0.6;
}

.section {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
}

video.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  max-width: unset;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
    width: 300%;
    left: -100%;
  }
}

.btn.btn-sm {
  padding: 4px 15px;
}

.carousel .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23627DE5' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel .carousel-control-next .carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23627DE5' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#home-button:hover {
  background-color: #af6ff8;
  border-color: #af6ff8;
  color: #ffffff !important;
}
#textshadow {
  color: white;
  text-shadow: -1px -1px 0 #272727, 1px -1px 0 #272727, -1px 1px 0 #272727,
    1px 1px 0 #272727;
}

/* GALLERY */
.gallery{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.gallery.body {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.gallery .slide-container {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  height: 600px;
  margin: 0 auto;
}
.slide-container .images {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.slide-container .images img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide-container .images img:not(.active){
  top: 0;
  left: -100%;
}
span.next, span.prev {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  padding: 14px;
  color: #a589a8;
  font-size: 30px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 3px;
  user-select: none;
  z-index: 1;
  cursor: pointer;
}
span.next {
  right: 10px;
}
span.left {
  left: 10px;
}
span.next:hover, span.prev:hover {
  background-color: #ede6d6;
  opacity: 0.8;
  color: #222;

}
.dots-container {
  position: absolute;
  bottom: 5px;
  z-index: 3;
  left: 50%;
  transform: translateX(-50%);
}

.dots-container .dot {
  width: 15px;
  height: 15px;
  margin: 0px 2px;
  border: 3px solid #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dots-container .active {
  background-color: #1e1e1e;
}
@keyframes next1 {
  from {
    left: 0%;
  } to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  } to {
    left: 0%;
  }
}
@keyframes prev1 {
  from {
    left: 0%;
  } to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  } to {
    left: 0%;
  }
}
@media (max-width: 768px) {
  .gallery .slide-container {
    width: 95%;
    max-width: none; /* Remove max-width for smaller screens */
  }
  
  span.next, span.prev {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}

/* SCHEDULE */
.schedule {
  padding-bottom: 5%;
}
.main {
  list-style: none;
}

.date {
  width: 17%;
  padding: 15% 1% 0 0;
  float: left;
}
.date h3 {
  font-size: 1.5em;
}
.date p {
  font-size: 0.8em;
  color: #000;
}
.events {
  float: left;
  width: 80%;
  border-left: 1px solid #000;
  margin-top: 10%;
  padding-top: 3%;
}
.events-detail {
  max-width: 550px;
  list-style-type: none;
}
.events-detail li {
  padding: 10px;
  border-bottom: 1px dashed #000;
  line-height: 22px;
  transition: ease 0.4s all;
}
.events-detail li:hover {
  background: #af6ff8;
}
.event-time {
  font-weight: 900;
  color: #000;
}
.event-name {
  color: #000;
}
.events-detail li a {
  text-decoration: none;
  color: #444;
  width: 100%;
  height: 100%;
  display: block;
}
.event-location {
  font-size: 0.8em;
  color: #ff809e;
  margin-left: 70px;
}
@media all and (max-width: 641px) {
  .date {
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
  }
  .events {
    border: none;
    width: 100%;
    margin-top: 0;
  }
  .events-detail {
    padding: 0;
  }
  li.date p {
    margin: 0;
  }
}
