@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";

.topbar-fixed.scrolled {
  background-color: #2832c2 !important;
  opacity: 0.7 !important;
  transition: background-color 200ms linear;
}

.topbar-fixed.scrolled .nav-link {
  color:rgb(85, 85, 85);
}

#topbar {
  transition: top 0.3s;
}